/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #951C49;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.8em;
}

/** BODY **/
.content {
	text-align: justify;
}
.sub-content {
	padding: 5px;
	width: 100%; 
	margin: 0 auto; 
	background-color: #61122f;
	color: #ffffff;
}
.item {
	margin-bottom: 20px;
}